body {
    display: flex;
    background-image: url(Love\ Couple.jpg);
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-size: cover;
    font-family: Jetbrains Mono, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
}

h1 {
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-size: 50px;
}

h2 {
    font-size: 45px;
   
}

button {
    border: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight:500;
    width: 200px;
    border-radius: 5px;
}

#increment-btn {
    background: darkred;
    background-image: url(Nighthawk.jpg);
    background-size: cover;
}

#increment-btn:hover{
    cursor: pointer;
    outline: solid black 2px;
}

#save-btn {
    background: darkgreen;
    background-image: url(Mauve.jpg);
    background-size: cover;
}

#save-btn:hover{
    cursor: pointer;
    outline: solid black 2px;
}

.counter-app{
    display: flexbox;
    background-image: url(Disco.jpg);
    background-size: cover;
    justify-content: center;
    text-align: center;
    justify-content: center;
    text-align: center;
    width: 50%;
    border-radius: 10px;
    box-shadow: 2px
}

